.confirmation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  position: relative;
  margin-left: 0;
  color: #333;
}

.confirmation-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.top-row {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.confirmation-image.large {
  width: 700px;
  height: 700px;
  object-fit: cover;
  border-radius: 1px;
  margin-top: 80px;
}

.confirmation-image.medium {
  width: 900px;
  height: 900px;
  object-fit: cover;
  border-radius: 1px;
}

.confirmation-image.small {
  width: 1000px;
  height: 900px;
  object-fit: cover;
  border-radius: 1px;
  margin-top: 20px;
}

.confirmation-form-overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5f5f5;
  padding: 15px 30px;
  border-radius: 1px;
  max-width: 90%;
  width: 500px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.confirmation-title {
  font-weight: 800;
  font-size: 28px;
  color: #8A9A5B;
  margin: 10px 0;
}

.formulario-asistencia-link {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 12px 24px;
  background-color: #8A9A5B; /* Matches existing color scheme */
  color: #f5f5f5; /* Complementary light text color */
  text-decoration: none;
  font-family: 'Poppins', sans-serif; /* Consistent font */
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.formulario-asistencia-link:hover {
  background-color: #556B2F; /* Darker green for hover effect */
  color: #ffffff; /* Ensure text remains visible */
}



/* Mobile Styles - Only Visible Below 768px */
@media (max-width: 768px) {
  .confirmation-container {
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
  }

  .confirmation-images {
    gap: 10px;
    align-items: center;
  }

  .confirmation-image.large,
  .confirmation-image.medium,
  .confirmation-image.small {
    width: 90%;
    height: auto; /* Make height flexible for mobile */
    margin-top: 10px;
  }

  .confirmation-form-overlay {
    top: 50%; /* Center form vertically on mobile */
    width: 80%; /* Adjust width for smaller screens */
    padding: 15px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Slightly lighter shadow for mobile */
    transform: translate(-50%, -50%);
  }

  .confirmation-title {
    font-size: 24px; /* Slightly smaller for mobile */
  }

 }




